.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    height: 100vh; 
    background-color: #2d3e50;
    color: #fff;
    padding: 10px;
    box-sizing: border-box;
  }
  
  /* .sidebar * {
    text-decoration: none;
    list-style: none;
  } */

  .sidebar .menu-item,
  .settings p {
    margin: 8px 0;
    cursor: pointer;
    padding: 6px;
    display: flex;
    align-items: center;
    color: #fff;
  }
  .sidebar .menu-item:hover {
    background-color: #ff6f61;
  }
  
  
  .sidebar .menu-item span {
    margin-left: 6px;
  }
  
 
  .settings {
    margin-top: auto; 
    padding-top: 10px;
    border-top: 1px solid #3f4f63;
  }
  
 
  .settings p {
    margin: 8px 0;
    cursor: pointer;
    padding: 6px;
    display: flex;
    align-items: center;
    color: #fff;
  }
  
  .settings p:hover {
    background-color: #ff6f61; 
  }
  
  .settings p span {
    margin-left: 6px;
  }
  