.camera-list-section {
    flex: 0.6;
    background-color: #e9ecef;
    box-sizing: border-box;
    width: 8%; 
    min-width: 90px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .camera-list-container {
    height: auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px; 
  }
  