$primary-color:  #fb9039;
$secondary-color: #fb9039;
$danger-color: #ff4d4d;
$hover-color:  #fda966;
$background-color: #f4f4f4;
$border-color: #ccc;
$text-color: #333;
$box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
$border-radius: 4px;
$padding: 0px;
$input-padding: 10px;
$table-padding: 10px;
$modal-max-width: 100vh;

body {
    background-color: $background-color;
    color: $text-color;
    font-family: Arial, sans-serif;
    text-size-adjust:initial;
    
}

h1, h2 {
    text-align: center;
    margin: 20px 0;
}


.userListContainer{
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

}
.create_btn {
    display: block;
    margin: 0px auto;
    align-items: center;
    padding: 10px 20px;
    background-color: $primary-color;
    color: white;
    border: none;
    border-radius: $border-radius;
    cursor: pointer;
    
    &:hover {
        background-color: darken($primary-color, 10%);
    }
}

.user_table {
    width: 80%;
    margin-left: 10px;
    border-collapse: collapse;
    // border: 1px solid $border-color;
    // padding-left: 50%;
    
    th, td {
        padding: $table-padding;
        text-align:center;
        text-decoration: solid;
        // border: 1px solid $border-color;
        width: 100vx;

    }

    th {
        background-color: $secondary-color;
        color: white;
    }

    // tr:nth-child(even) {
    //     background-color: lighten($background-color, 5%);
    //     width:60vh;
    // }

    .name_Column {
        width: 30px; 
    }
    
    .canLogin_Column {
        width: 60px; 
    }
    
}

button {
    padding: 5px 10px;
    margin: 10px;
    background-color: $secondary-color;
    color: white;
    border: none;
    border-radius: $border-radius;
    cursor: pointer;

    &:hover {
        background-color: darken($secondary-color, 10%);
    }
}

button.danger {
    background-color: $danger-color;

    &:hover {
        background-color: darken($danger-color, 10%);
    }
}

