$primary-color:  #fb9039;
$secondary-color: #fb9039;
$danger-color: #ff4d4d;
$hover-color:  #fda966;
$background-color: #f4f4f4;
$border-color: #ccc;
$text-color: #333;
$box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
$border-radius: 4px;
$padding: 0px;
$input-padding: 10px;
$table-padding: 10px;
$modal-max-width: 100vh;

body {
    background-color: $background-color;
    color: $text-color;
    font-family: Arial, sans-serif;
    text-size-adjust: initial;
}

h1, h2 {
    text-align: center;
    margin: 20px 0;
}

.userListContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-collapse: collapse;
    border-radius: 8px;  
    overflow: hidden;  
    box-shadow: $box-shadow;
}

.user_table {
    width: 100%;
    margin-left: 10px;
    

     td {
        padding: $table-padding;
        text-align: left;
        text-decoration: solid;
        font-size: 14px; 
    }

    th {
        background-color: $secondary-color;
        color: white;
        font-size: 15px; 
    }

    .name_Column {
        width: 120px;  
    }

    .canLogin_Column {
        width: 120px;  
    }

    .action_Column {
        width: 60%;  
        align-items:left;
    }
}

button.danger {
    background-color: $danger-color;

    &:hover {
        background-color: darken($danger-color, 10%);
    }
}

.update_button {
    padding: 5px 10px;
    margin: 10px;
    background-color: green;
    color: white;
    border: none;
    border-radius: $border-radius;
    cursor: pointer;
    align-items: left;

    &:hover {
        background-color: darken(green, 10%);
    }
}

.delete_button {
    padding: 5px 10px;
    margin: 10px;
    background-color: $danger-color;
    color: white;
    border: none;
    border-radius: $border-radius;
    cursor: pointer;

    &:hover {
        background-color: darken($danger-color, 10%);
    }
}

.create_button {
    padding: 5px 10px;
    margin: 10px;
    background-color:#fb9039;
    color: white;
    border: none;
    border-radius: $border-radius;
    margin-left:20%;
    margin-right: 109%;
    width: 90px;
    cursor: pointer;

    &:hover {
        background-color: darken(#fb9039, 10%);
    }
}

.view_button {
    padding: 5px 10px;
    margin: 10px;
    background-color:  #fb9039;
    color: white;
    border: none;
    border-radius: $border-radius;
    cursor: pointer;

    &:hover {
        background-color: darken( #fb9039, 10%);
    }
}
.submit_button {
    padding: 5px 10px;
    margin: 10px;
    background-color: $primary-color; 
    color: white;
    border: none;
    border-radius: $border-radius;
    align-items: right;
    cursor: pointer;

    &:hover {
        background-color: darken($primary-color, 10%); 
    }

    &:active {
        background-color: lighten($primary-color, 5%); 
    }
}
.dialog_title {
    display: flex;
    justify-content: space-between;
    align-items:left;
    padding: 10px 16px;
    font-size: 1.10rem;
    font-weight: bold;
    background-color: #fb9039; 
    color: white;
}
