$primary-color: #28a745;
$secondary-color: #007bff;
$danger-color: #ff4d4d;
$hover-color: #0056b3;
$background-color: #f4f4f4;
$border-color: #ccc;
$text-color: #333;
$box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
$border-radius: 8px;
$padding: 20px;
$input-padding: 10px;
$table-padding: 8px;
$modal-max-width: 500px;

.modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
   
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}
.modal-content {
    width: 90%;
    max-width: $modal-max-width; 
    background: white;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    padding: $padding;
}
.userCreationContainer{
    display:relative;
}
.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;

    .close-icon {
        position:absolute;
        top:5px;
        right:5px;
        cursor: pointer;
        font-size: 24px;
        color: $text-color;

        &:hover {
            color: $danger-color;
        }
    }
}
.modal-body {
    padding: $padding;

    h4 {
        margin-top: 20px;
    }

    button {
        margin-top: 15px;
    }
}
